<PageTitle>Evidence</PageTitle>
<h1>Evidence</h1>
<div class="my-3 p-2 border">
    <label>Datum: <input type="date" @bind-value = "Evid.Polozka.Datum"/></label>
    <label>Náklady: <input type="number" @bind-value="Evid.Polozka.Naklady" /></label>
    <label>Výnosy: <input type="number" @bind-value="Evid.Polozka.Vynosy" /></label>
    <button @onclick = "Evid.Pridat">Přidat</button>
</div>

<div class="my-3 p-2 border">
    <button @onclick="Evid.ZobrazZaznamy">Zobraz vše</button>
    <button @onclick="Evid.PocetZaznamu">Počet záznamů</button>
    <button >Statistiky</button>
</div>

<div class="my-3 p-2 border">
    <p>@((MarkupString)Evid.Vypis)</p>
</div>
@code {
    private Models.Evidence Evid { get; set; } = new Models.Evidence();
}
