<PageTitle>Evidence</PageTitle>
<h1>Evidence</h1>
<div class="my-3 p-2 border">
    <label>Datum: <input type="date" @bind-value = "Evid.Polozka.Datum"/></label>
    <label>Náklady: <input type="number" @bind-value="Evid.Polozka.Naklady" /></label>
    <label>Výnosy: <input type="number" @bind-value="Evid.Polozka.Vynosy" /></label>
    <button>Přidat</button>
</div>

<div class="my-3 p-2 border">
    <button>Zobraz vše</button>
    <button>Počet záznamů</button>
    <button>Statistiky</button>
</div>

<div class="my-3 p-2 border">
    <p></p>
</div>
@code {
    private Models.Evidence Evid { get; set; } = new Models.Evidence();
}
